@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #98a6cd, #e7eaf4, #c6c7ca);
 
}

/* Add a glossy overlay */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  opacity: 0.3;
  pointer-events: none;
  z-index: 1;
}

 